calculo_pi/mpi_main.c
calculo_pi/mpiCalcularPi
calculo_pi/prog
Shellscript_MPI_em_PC_ubuntu/mpi_mm
Shellscript_MPI_em_PC_ubuntu/tempo_de_mm.txt
Shellscript_MPI_em_PC_ubuntu/teste
calculo_pi/prog
aula05_trapezios/trapezio
calculo_pi/calcularPi
aula05_trapezios/trapezios
calculo_pi/mpi_calcularPi
aula05_trapezios/mpi_trapezio
odd_even/teste
